<header>
  <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <div class="container-fluid px-5">
      <a class="navbar-brand" href="/">
        <i class="fa-solid fa-code"></i> mySimpleCMS <sup>ver. 0.0.1</sup>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link <% if (path == '/frontpage') { %>active<% } %>" aria-current="page" href="/frontpage"><i
                class="fa-solid fa-house"></i> Strona główna</a>
          </li>
          <li class="nav-item">
            <a class="nav-link <% if (path == '/') { %>active<% } %>" href="/"><i class="fa-regular fa-newspaper"></i>
              Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link <% if (path == '/add') { %>active<% } %>" href="/add"><i class="fa-solid fa-plus"></i>
              Nowy post</a>
          </li>
          <li class="nav-item">
            <a class="nav-link <% if (path == '/apidesc') { %>active<% } %>" href="/apidesc"><i
                class="fa-solid fa-diagram-project"></i> API</a>
          </li>
          <li class="nav-item">
            <a class="nav-link <% if (path == '/logout') { %>active<% } %>" href="/logout"><i
                class="fa-solid fa-arrow-right-from-bracket"></i> Wyloguj</a>
          </li>
      </div>
    </div>
  </nav>
</header>